## Ignore some files and folders for copyright and other reasons. 

*.model
*.model.base
[Mm]odel_speech/

__pycache__
*.wav
*.model_yaml
Test_Report_*
data/*
dataset
data_pinyin.txt
*.trn
testClient.py

webapi/
save_models/